{% extends "layout.html.twig" %}

{% block content %}
    <ul id="content" class="user-list">
        {% for user in users %}
            <div class="panel panel-primary">
                    <div class="panel-heading">Name: {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</div>
                    <div class="panel-body">
                        <button class="delete-button" value="{{ user.id }}">&times;</button>
                        Date of birth: {{ user.birth }}<br>
                        Place of birth: {{ user.placeOfBirth }}<br>
                        Passport: {{ user.passportSeries }}{{ user.passportNumber }}, {{ user.passportFrom }}, date: {{ user.passportDate }}<br>
                        City: {{ user.city_name }}<br>
                        Private number: {{ user.privateNumber }}<br>
                        Address: {{ user.address }}<br>
                        Home phone: {{ user.homePhone }}<br>
                        Mobile phone: {{ user.mobilePhone }}<br>
                        Email: {{ user.email }}<br>
                        Place of work: {{ user.placeOfWork }}<br>
                        Position: {{ user.position }}<br>
                        Marital status: {{ user.maritalStatus }}<br>
                        Disability: {{ user.disability }}<br>
                        Pensioner: {% if user.pensioner %}yes {% else %}no{% endif %}<br>
                        Income: {{ user.income }}<br>
                        Military: {% if user.military %}yes {% else %}no{% endif %}<br>
                        Nationality: {{ user.nationality_name }}<br>

                        <a class="btn btn-primary" href="update_form.php?id={{ user.id }}">Edit User</a>
                    </div>
            </div>
        {% endfor %}
    </ul>

    <script src="../../lib/jquery-3.1.0.min.js"></script>
    <script src="../../js/delete_user.js"></script>
    <script>
        $('.delete-button').on('click', deleteUser);
    </script>
{% endblock %}
