{% extends "layout.html.twig" %}

{% block content %}
    <ul id="content" class="user-list">
        {% for user in users %}
            <li>
                <h4>Name: {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</h4>
                Date of birth: {{ user.birth }}<br>
                Place of birth: {{ user.placeOfBirth }}<br>
                Passport: {{ user.passportSeries }}{{ user.passportNumber }}, {{ user.passportFrom }}, date: {{ user.passportDate }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}