{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-7">
            <form id="content" name="user_form" action="update_user.php" method="post">
                <h3>Update user</h3>
                <div id="errorPanel"></div>
                <div>
                    <input type="text" id="firstName" name="first_name" placeholder="First name" class="required form-control" value="{{ user.firstName }}" required>*
                </div>
                <div>
                    <input type="text" id="lastName" name="last_name" placeholder="Last name" class="required form-control" value="{{ user.lastName }}" required>*
                </div>
                <div>
                    <input type="text" id="patronymic" name="patronymic" placeholder="Patronymic" class="required form-control" value="{{ user.patronymic }}" required>*
                </div>
                <div>
                    <input type="date" id="dateOfBirth" name="birth" placeholder="Date of Birth (YYYY-MM-DD)" class="required form-control" value="{{ user.birth }}" required>*
                </div>
                <div>
                    <input type="text" name="passport_series" placeholder="Passport (Series)" class="required form-control" value="{{ user.passportSeries }}" required>*
                </div>
                <div>
                    <input type="text" id="passportNumber" name="passport_number" placeholder="Passport (Number)" class="required form-control" value="{{ user.passportNumber }}" required>*
                </div>
                <div>
                    <input type="text" name="passport_from" placeholder="Passport (From)" class="required form-control" value="{{ user.passportFrom }}" required>*
                </div>
                <div>
                    <input type="date" id="passportDate" name="passport_date" placeholder="Passport (Date YYYY-MM-DD)" class="required form-control" value="{{ user.passportDate }}" required>*
                </div>
                <div>
                    <input type="text" id="privateNumber" name="private_number" placeholder="ID" value="{{ user.privateNumber }}" class="required form-control">*
                </div>
                <div>
                    <input type="text" name="place_of_birth" value="{{ user.placeOfBirth }}" placeholder="Place of Birth" class="required form-control" required>*
                </div>

                <div class="form-group">
                    <label for="city-list">City</label>
                    <select name="city" id="city-list">
                    </select>
                </div>
                <div>
                    <input type="text" name="address" value="{{ user.address }}" placeholder="Address" class="form-control required" required>*
                </div>
                <div>
                    <input type="text" id="homePhone" name="phone_number" value="{{ user.homePhone }}" placeholder="Phone number (Home)" class="form-control">
                </div>
                <div>
                    <input type="text" id="mobilePhone" name="mobile_number" value="{{ user.mobilePhone }}" placeholder="Phone number (Mobile)" class="form-control">
                </div>
                <div>
                    <input type="email" name="email" placeholder="Email" value="{{ user.email }}" class="form-control">
                </div>
                <input type="text" name="place_of_work" value="{{ user.placeOfWork }}" placeholder="Place of work" class="form-control">
                <input type="text" name="position" value="{{ user.position }}" placeholder="Position" class="form-control">
                <input type="text" name="marital_status" value="{{ user.maritalStatus }}" placeholder="Marital status" class=" form-control" >*
                <div class="form-group">
                    <label for="nationality-list">Nationality</label>
                    <select name="nationality" id="nationality-list">
                        <option value="">Belarus</option>
                        <option value="">Foreigner</option>
                    </select>
                </div>
                <div>
                    <label for="disability-list">Disability</label>
                    <select name="disability" id="disability-list">
                        <option value="">No</option>
                        <option value="">I</option>
                        <option value="">II</option>
                        <option value="">III</option>
                    </select>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="pensioner" class="form-check-input">
                        Pensioner
                    </label>
                </div>
                <input type="text" name="income" value="{{ user.income }}" placeholder="Income" class="form-control">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="military" class="form-check-input">
                        Liable for military service
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" value="{{ user.id }}">Submit</button>
            </form>
        </div>
    </div>

    <script src="../../js/checkUserForm.js"></script>
    <script src="../../js/update_form.js"></script>
    <script src="../../lib/jquery-3.1.0.min.js"></script>

    <script>
        document.user_form.addEventListener('submit', checkForm);
        $.get("list_of_cities.php?id={{ user.city }}", function(data){
            $('#city-list').append(data);
        });
    </script>

{% endblock %}